node_modules/
logs/
benchmark/
benchmarks/
coverage/
src/
tests/
.github/
.gitignore
.gitattributes
.editorconfig
.npmrc
.npmignore
.prettierignore
.prettierrc.json
.eslintrc.json
.eslintignore
.release-please-manifest.json
release-please-config.json
tsconfig.*
CHANGELOG.md
